<div class="landing-content">
    <h1 class="landing-greeting">Splitealo</h1>
    <p class="landing-paragraph">Esplitealo is a simple and intuitive web app designed to make splitting bills
        effortless. Whether you're sharing a meal with friends, organizing a group trip, or managing shared expenses,
        Esplitealo helps you divide costs fairly. Choose between equal splits or consumption-based divisions, generate
        detailed receipts, and share them easily via unique links. With Esplitealo, managing group expenses has never
        been so easy and transparent!</p>
</div>
<button class="landing-btn" (click)="sendToComponent()">Start Splittin'</button>